
<!-- This is the robot launcher. For now it just launches the Kinect Camera device and defines the absolute namespace if necessary. -->

<launch>
  <arg name="robot_ns" default="robot1" />
  <arg name="absolute_namespace" default="/" /> <!-- launchfile absolute namespace -->

  <!-- start the launchfiles and nodes in the robot namespace -->
  <group ns="$(arg robot_ns)">
    <!-- launch the Kinect Camera device -->
    <include file="$(find image_adaptor)/launch/launchWithParams.launch">
      <arg name="absolute_namespace" value="$(arg absolute_namespace)/$(arg robot_ns)/" /> <!-- absolute namespace inside of the group -->
    </include>
    <node name="kinect_aux_node" pkg="kinect_aux" type="kinect_aux_node" required="true"/>
  </group>
</launch>


